//
// Utils
//
//
// Simple Container (single breakpoint)
//
.simple-container {
    max-width: 77rem;
    padding-right: 1rem;
    padding-left: 1rem;
    @apply .w-full;
}
//
// Transitions
//

.tr-all {
	transition: all $tr1;
}
.tr-all-2 {
	transition: all $tr2;
}
.tr-all-3 {
	transition: all $tr3;
}

