<div class="timeline" data-month="{{ month }}" data-year="{{ year }}">
    {# Group events by day of the month using the event's startDate as a guide #}
    {% for day, dayEvents in events|group('startDate|date("M d Y")')  %}

    {# Feature Event Article #}
    {% include 'events/components/_timeline-item--all' %}        

    {% endfor %}
</div>
