{% extends "_layouts/standard" %}

{% block content %}


{# Page Header #}
<header class="page-header bg-blue">
	<div class="simple-container py-8 sm:py-10">
		{# Landing Page Title: #}
		<h1 class="text-white font-medium md:text-3xl sm:text-xl text-lg">Events</h1>
	</div>
</header>

{# Container #}
<div class="simple-container">

	<div class="lg:flex lg:flex-wrap mb-lg md:-mx-4">
	
		{# Main #}
		<section class="main-content lg:w-2/3 md:px-4 ">

			{# Header #}
			<header class="pt-6 sm:py-8 sm:mt-12 sm:flex sm:justify-between sm:mb-0 mb-4">
				<div class="title md:1/2 md:pr-4">
					<h1 class="text-2md sm:text-lg md:text-xl">Featured Event</h1>
				</div>
			</header>

			{# Featured #}
			<figure class="img is16by9 bg-grey-lightest md:mb-4">
        <img src="/assets/img/placeholder_01.jpg" class="absolute pin-t pin-l">
      </figure>

      {# Feature Event #}
			{% include '_components/fed/article--feature' %}


			{# Header #}
			<header class="pt-6 mb-4 sm:py-8 sm:mt-12 sm:flex sm:justify-between">
				<div class="title md:1/2 mb-3 md:pr-4 sm:mb-0">
					<h1 class="text-2md sm:text-lg md:text-xl">Upcoming Events</h1>
				</div>
				<div class="max-w-1xs w-full">
					<select data-module="choicesAsLinks" name="" id="">
						<option value="https://github.com/jshjohnson/Choices">All Events</option>
						<option value="https://github.com/TelegraphCreative/bottle-checkout-fed">Conferences</option>
						<option value="https://app.asana.com/0/581664732076036/board">Meetups</option>
					</select>

				</div>
			</header>
			

			{# Inf Scroll Wrap #}
			<div class="js-infScroll mb-14 lg:mb-18" data-module="infScroll">
				{# Feature Event #}
				{% include '_components/fed/article--feature' %}

				{# Feature Event #}
				{% include '_components/fed/article--feature' %}
			</div>

			
			{# Inf Scroll Pagination #}
			<div class="pagination hidden">
				<a class="pagination__next" href="/fed/indexEvent--pg2.twig">Next page</a>
			</div>

			<div class="w-full block">
				<div class="btn --full-w sm:py-6 --outline load-more-cards">Show Past Events</div>
			</div>
			{# / End #}
		
			
		</section>

		
		{# Aside #}
		<aside class="aside-content w-full lg:w-1/3 mt-14 lg:mt-lg md:px-4 clearfix ">
			<div class="max-w-sm lg:max-w-xs w-full m-auto lg:float-right ">
				<div class="border-b border-grey-lightest pb-6">
					
					{# Event Nav #}
					<div class="eventsNav   mb-6 flex justify-between pt-8 border-t border-grey-lightest lg:mt-16 text-center">

						<a class="arrow prev text-grey-dark hover:text-green" href="#cal/2018/5/*" title="Previous Month">
							<span class="icon --arrow --sm mr-3 top-2 relative tr-all">
								<svg><use xlink:href="/assets/svg/symbols.svg#arrow-left"></use></svg>
							</span>
						</a>

						<h2  class="text-1md text-grey-dark">June 2018</h2>

						<a class="arrow next text-grey-dark hover:text-green" href="#cal/2018/7/*" title="Next Month">
							<span class="icon --arrow --sm mr-3 top-2 relative tr-all">
								<svg><use xlink:href="/assets/svg/symbols.svg#arrow-right"></use></svg>
							</span>
						</a>

					</div>
				
					{# Calendar #}
					<div class="calendar " data-month="3" data-year="2018">
						<div class="table-box">
							<table class="w-full m-0 text-center">
								<thead>
									<tr>
										<th><span class="single text-sm text-grey-dark">S</span></th>
										<th><span class="single text-sm text-grey-dark">M</span></th>
										<th><span class="single text-sm text-grey-dark">T</span></th>
										<th><span class="single text-sm text-grey-dark">W</span></th>
										<th><span class="single text-sm text-grey-dark">T</span></th>
										<th><span class="single text-sm text-grey-dark">F</span></th>
										<th><span class="single text-sm text-grey-dark">S</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="calendar_day calendar_day-other opacity-0"><span class="calendar_day-num text-1xs text-grey-dark">25</span></td>
										<td class="calendar_day calendar_day-other opacity-0"><span class="calendar_day-num text-1xs text-grey-dark">26</span></td>
										<td class="calendar_day calendar_day-other opacity-0"><span class="calendar_day-num text-1xs text-grey-dark">27</span></td>
										<td class="calendar_day calendar_day-other opacity-0"><span class="calendar_day-num text-1xs text-grey-dark">28</span></td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">1</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">2</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">3</span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">4</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">5</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">6</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">7</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">8</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">9</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">10</span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">11</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">12</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">13</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">14</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">15</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">16</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">17</span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">18</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">19</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">20</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">21</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">22</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">23</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">24</span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">25</span>
											</div>
										</td>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">26</span>
											</div>
										</td>
										<td class="calendar_day calendar_day-current">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">27</span>
											</div>
										</td>

										<td class="calendar_day ">
											<div>
												{# Template Notes:
												- only include first event of the day 
												#}
												<a href="#" data-tooltip="Odors and Air Pollutants Conference" class="calendar_day-num  --has-event text-xs text-white block rounded-full" style="background-color:#22C79A;">28</a>
											</div>
										</td>

										<td class="calendar_day ">
											<div>
												{# Template Note:
												only include first event of the day #}
												<a href="#" data-tooltip="Odors and Air Pollutants Conference" class="calendar_day-num  --has-event text-xs text-white block rounded-full" style="background-color:#22C79A;">29</a>
											</div>
										</td>


										{# HAS EVENT EXAMPLE #}
										<td class="calendar_day ">
											<div>
												{# Template Note:
												only include first event of the day #}
												<a href="#" data-tooltip="Texas Water! Regional Meeting" class="calendar_day-num  --has-event text-xs text-white block rounded-full" style="background-color:#2466cc;">30</a>
											</div>
										</td>


									</tr>
									<tr>
										<td class="calendar_day">
											<div>
												<span class="calendar_day-num text-1xs text-grey-dark">31</span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

				{# Calender Legend #}
				<div class="calendar-legend pt-6">
					<ul class="list-reset flex flex-wrap">
						<li class="w-1/2 flex items-center mb-3">
							<span class="h-2 w-2 inline-block rounded-full" style="background: #2466cc;"></span>
							<span  class="text-xs ml-2 inline-block" style="color: #2466cc;">Conferences</span>
						</li>

						<li class="w-1/2 flex items-center mb-3">
							<span class="h-2 w-2 inline-block rounded-full" style="background: #2466CC;"></span>
							<span  class="text-xs ml-2 inline-block" style="color: #2466CC;">Conferences</span>
						</li>

						<li class="w-1/2 flex items-center mb-3">
							<span class="h-2 w-2 inline-block rounded-full" style="background: #2466cc;"></span>
							<span  class="text-xs ml-2 inline-block" style="color: #2466cc;">Conferences</span>
						</li>

						<li class="w-1/2 flex items-center mb-3">
							<span class="h-2 w-2 inline-block rounded-full" style="background: #2466CC;"></span>
							<span  class="text-xs ml-2 inline-block" style="color: #2466CC;">Conferences</span>
						</li>

						<li class="w-1/2 flex items-center mb-3">
							<span class="h-2 w-2 inline-block rounded-full" style="background: #2466cc;"></span>
							<span  class="text-xs ml-2 inline-block" style="color: #2466cc;">Conferences</span>
						</li>

						<li class="w-1/2 flex items-center mb-3">
							<span class="h-2 w-2 inline-block rounded-full" style="background: #2466CC;"></span>
							<span  class="text-xs ml-2 inline-block" style="color: #2466CC;">Conferences</span>
						</li>
					</ul>
				</div>


			
			</div>


		</aside>

	</div>

</div>


{% endblock %}
