{% extends "_layouts/standard" %}

{% block content %}

<div class="js-infScroll">
	{# Article Summary #}
	{% include '_components/fed/article--summary' %}
	
	{# Article Summary #}
	{% include '_components/fed/article--summary' %}
	
	{# Article Summary #}
	{% include '_components/fed/article--summary' %}
</div>

{% endblock %}
