{% extends "_layouts/standard" %}

{% block content %}

<div class="js-infScroll">
	{# Feature Event #}
	{% include '_components/fed/article--feature' %}

	{# Feature Event #}
	{% include '_components/fed/article--feature' %}

	{# Feature Event #}
	{% include '_components/fed/article--feature' %}
</div>

{% endblock %}
