{% extends "_layouts/standard" %}

{% block content %}


{# Page Header #}
<header class="page-header bg-blue">
	<div class="md:max-w-2xl m-auto md:px-6 py-10 px-4">
		{# Landing Page Title: #}
		<h1 class="text-white font-medium md:text-3xl sm:text-xl text-lg">Static Front End Layouts</h1>
	</div>
</header>


	{# List: Accordion Link/Doc/Info #}
	{# Template note: only include data-module="accordion" 1x per page #}

	<div class="list-accordion  md:px-0 px-6 m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-xl" data-module="accordion">
		
		{# Section Header #}
		{% include '_components/headers' with {
			type: 'section-header--divider', 
			'title': 'Home'
			} 
		%}

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Home (live template)
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Section Header #}
		<div class="mt-12">
		{% include '_components/headers' with {
			type: 'section-header--divider', 
			'title': 'Indexes / Landings'
			} 
		%}
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/landingComplex" class=" mb-4 flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Landing Complex
					</h4>

					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

				<small class="text-grey">This template is broken. Reference live templates for correct code.</small>

			</header>
		</div>
		
		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/indexCommittees" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Committees Index
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>
		
		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/indexArticle" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Article Index
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/indexArticle--images" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Articles + Images Index
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>
		
		
		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/indexImage" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Image Index
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/indexEvent" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Event Index
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>



		<div class="mt-12">
			{# Section Header #}
			{% include '_components/headers' with {
				type: 'section-header--divider', 
				'title': 'Detail'
				} 
			%}
		</div>
		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/detailArticle" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Article Detail
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/detailEvent" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Event Detail
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>
		
		

		<div class="mt-12">
			{# Section Header #}
			{% include '_components/headers' with {
				type: 'section-header--divider', 
				'title': 'Checkout'
				} 
			%}
		</div>
		
		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/checkout--order" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Checkout -- Order
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/checkout--confirm" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Checkout -- Confirm
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>



		{# Section Header #}
		<div class="mt-12">
			{% include '_components/headers' with {
				type: 'section-header--divider', 
				'title': 'Public Forms'
				} 
			%}
		</div>
		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/public--join1" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Public — Join 01
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/logIn" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Log In
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/logIn--forgot" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Log In -- Forgot Password
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/logIn--reset" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Log In -- Reset Password
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>


		{# Section Header #}
		<div class="mt-12">
			{% include '_components/headers' with {
				type: 'section-header--divider', 
				'title': 'Members Forms'
				} 
			%}
		</div>	



		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/loggedIn--paymentEdit" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Logged In — Payment Edit
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/loggedIn--accountEdit" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Logged In — Account Edit
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>


		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/loggedIn--contactEdit" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Logged In — Contact Edit
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>


		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/loggedIn--memberEdit" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Logged In — Member Edit
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>



		

	

		{# Section Header #}
		<div class="mt-12">
			{% include '_components/headers' with {
				type: 'section-header--divider', 
				'title': 'Visual Style Guide'
				} 
			%}
		</div>

		{# Link Item #}
		<div class="border-b border-grey-lightest pt-8 pb-8">	
			{# Header #}
			<header class="item__header">

				<a href="/fed/vsg" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						VSG (Visual Style Guide)
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>

			</header>
		</div>
		
	</div>
	
</section>

{% endblock %}
