{% extends "_layouts/standard" %}

{% block content %}

{# Breadcrumbs #}
{% include '_components/fed/nav--breadcrumbs'  %}

{# Container #}
<div class="simple-container">
	
	{# Logged In Menu #}
	{% include '_components/fed/nav--logged-in' %}

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg ">
		
		<form action="#" class="py-4">
			
			{# Field #}
			<div class="form-row mb-6">
				<label for="fullName" class="field-label block w-full">Name</label>
				<input required name="fullName" id="fullName" type="text" class="input-field block w-full" placeholder="Your Name">
			</div>

			{# Field #}
			<div class="form-row mb-6">
				<label for="email" class="field-label block w-full">Email</label>
				<input required name="email" id="email" type="email" class="input-field block w-full" placeholder="hello@mail.com">
			</div>

			{# Field #}
			<div class="form-row mb-6">
				<label for="username" class="field-label block w-full">Username</label>
				<input type="text" name="username" id="username" class="input-field block w-full" placeholder="lonegunmen">
			</div>

			

			{# Field / split #}
			<div class="form-row mb-6 flex justify-center items-center">

				<div class="w-1/2">
					<label for="password" class="field-label block w-full">Password</label>
					<input type="password" name="password" id="password" class="input-field block w-full">
				</div>

				<div class="w-1/2">
					<a href="loggedIn--passwordEdit" class="pl-4 text-sm no-underline hover:text-green block mt-4">Change password</a>
				</div>
			</div>



			{# Buttons #}
			<div class="form-row mb-6 pt-6 flex items-center">
					 <input class="submit btn" type="submit" value="Update">
					<a href="#" class="ml-6 px-3 text-sm no-underline text-grey-dark hover:text-green block">Cancel</a>
			</div>



		</form>

	</section>

</div>

{# Form Validation #}
{% set formJs %}
	$("form").validate();
{% endset %}

{% includeJsFile '/assets/static/validate/jquery.validate.min.js' %}
{% includeJs formJs %}



{% endblock %}
