{# Article Summary #}
<article class="inf-card   border-b border-grey-lightest mt-12 pb-6">
	<time class="block leading-normal mb-2 text-grey-dark text-xs">April 09, 2018</time>
	<h1 class="mb-5 text-2md text-blue   sm:text-lg   md:text-2md   lg:text-lg">List of Community Colleges with Environmental Science or Engineering Programs</h1>
	
	<div class="lg:flex lg:items-end">
		<p class="leading-normal mb-6 text-xs text-grey-dark">Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page.</p>
		
		{# button #}
		<a class="btn --auto-w   lg:flex-none lg:ml-16">Read More</a>
		
		{# text #}
		{#
		<a class="btn --text   px-0   lg:flex-none lg:ml-16 lg:pr-2">TCEQ’s Rule Log</a>
		#}
	</div>
</article>