{# Modal #}
<div class="enterModal   fixed flex items-center overflow-scroll pin px-3 py-8 z-50   sm:px-8   md:px-15">
		
	<div class="bg-blue m-auto max-w-lg px-4 py-15 text-center   sm:px-8   md:px-14   lg:px-18">
		<div class="modalLogo   text-white mb-5 m-auto">
			{% include '_components/svg--weat-brand--simple--stacked' %}
		</div>
		<h1 class="leading-tight mb-4 text-2md text-white   sm:text-lg md:text-xl lg:text-2xl">Same Organization.<br> New look & feel.</h1>
		<p class="leading-normal mb-10 text-base text-blue-light   sm:text-md   md:text-1md">At 2,200 strong, WEAT’s members are professionals who have dedicated their careers to protecting and enhancing our state's water resources.</p>
		<button class="btn --dark-blue" id="closeModal">Enter Site</button>
	</div>
	
</div>
{# End Modal #}