{# Landing Complex #}
{% block content %}


	{% set Builder = entry.complexContentBuilder %}
	

	{# Page Header #}
	{% include '_components/headers' with {
		type: 'page-header--standard',
		Title: entry.pageTitle,
		classes: ''
		} 
	%}

	<section class="landing mb-lg simple-container --wide" data-module="accordion">
		
		{# Content Builder #}
		{% for block in Builder %}
			{% switch block.type %}
				
				{# Hero Slider #}
				{% case "heroSlider" %}
					{% include '_components/slider--hero' with {
							content: block.heroSlider,
							classes: 'm-auto max-w-2xl mb-8 -mt-6 px-6 sm:px-0 sm:mb-0 pt-4 sm:-mt-8'
						}
					%}
				
				{# Standard Slider #}
				{% case "standardSlider" %}
					{% include '_components/slider--standard' with {classes: 'm-auto md:w-3/5 w-full     sm:pt-10 pt-9 mb-14'} %}

				{# Article #}
				{% case "article" %}
					{% include '_components/article' with {classes: 'm-auto md:w-3/5 w-full    md:px-0 px-6  sm:pt-10 sm:mb-10'} %}

				{# Resources List #}
				{% case "resourcesList" %}
					{% include '_components/list--resources' with {classes: 'sm:pt-10 sm:mb-10 m-auto md:w-3/5 w-full'} %}

				{# Feature List #}
				{% case "featureList" %}
					{% include '_components/list--features' with {
							Content: block.children, 
							Class: 'mb-18 pt-10 md:pt-12 sm:pb-8'
						} 
					%}

				{# Portrait List #}
				{% case "portraitList" %}
					{% include '_components/list--portraits' %}

				{# Stat List #}
				{% case "statList" %}
					{% include '_components/list--stats' %}

				{# Entries List #}
				{% case "entriesList" %}
					{% include '_components/list--entries' %} 

				{# Feature Cards #}
				{% case "featureCards" %}
					{% include '_components/cards--features' %}

				{# Feature Hero #}
				{% case "featureHero" %}
					{% include '_components/hero--feature' %}

				{# CTA Hero #}
				{% case "ctaHero" %}
					{% include '_components/hero--cta' with {
						Spacing: block.spacing,
						Header: block.header,
						Text: block.textBarebones,
						Button: block.button,
						Class: '',
						WrapClass: 'sm:pt-10'
						} 
					%}
				
				{% default %}
				
			
			{% endswitch %}
			
		{% endfor %}

	</section>

{% endblock %}
