{% set currentMonth = month ? month : "now"|date('n') %}
{% set currentYear = year ? year : "now"|date('Y') %}

{% set current = currentYear  ~ "-" ~ currentMonth ~ "-1" %}

{% set prevMonth = current|date_modify("last day of last month")|date('U') %}
{% set nextMonth = current|date_modify("first day of next month")|date('U') %}

{% set groupIds = craft.request.getSegment(5) and craft.request.getSegment(5) != "*" ? craft.request.getSegment(5) : [] %}

{#  Get Events for month between prevMonth & nextMonth #}
{% set events = craft.venti.events().groupId(groupIds).between(prevMonth,nextMonth) %}

{# {% include 'events/components/_eventsNav' with { prev:prevMonth, next:nextMonth, current:current, ids:groupIds } only %} #}

{% cache  %}
<div class="timeline" data-month="{{ month }}" data-year="{{ year }}">

		{% if events.total() > 0 %}


			  {# Feature Event Article #}
			  {% include 'events/components/_timeline-item--all' %}  
				
			{% endfor %}
	  
	  {% else %}

	  	{# None #}
	    {# None #}
        <p class="text-sm text-grey mb-8 md:mb-12">No Events for 
            {% if month == 1 %} January
            {% elseif month == 2 %} February
            {% elseif month == 3 %} March
            {% elseif month == 4 %} April
            {% elseif month == 5 %} May
            {% elseif month == 6 %} June
            {% elseif month == 7 %} July
            {% elseif month == 8 %} August
            {% elseif month == 9 %} September
            {% elseif month == 10 %} October
            {% elseif month == 11 %} November
            {% elseif month == 12 %} December
            {% endif %}
        </p>
		  	

    {% endif %}
    
</div>

{% endcache %}
