{% extends "_layouts/standard" %}
{% block content %}

{# Container #}
<div class="simple-container">

	{% set message = craft.session.getFlash('notice') %}
	{{ message }}
	{#% if currentUser ? currentUser.isInGroup('subscriber') : false %#}
	{% if currentUser and currentUser.isInGroup('subscriber') %}
Is a subscriber
	{% else %}
	Is not a subscriber
	{% endif %}

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg ">
    <form method="post" accept-charset="UTF-8">
      {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/sendPasswordResetEmail">
    <input type="hidden" name="redirect" value="">

      {# Field #}
      <div class="form-row mb-6">
        {{ forms.text({
            name: 'loginName',
            id: 'loginName',
            placeholder: 'Email',
            value: (loginName is defined ? loginName : craft.session.rememberedUsername),
            class: "input-field block w-full"
        }) }}
        {% include "_macros/forms/errorList" with { errors: (account is defined ? account.getErrors('loginName')) } %}
      </div>

      {# Buttons #}
      <div class="form-row mb-6 pt-6 flex items-center">
           <input class="submit btn" type="submit" value="Login">
      </div>

      {% if errorMessage is defined %}
          <p>{{ errorMessage }}</p>
      {% endif %}
    </form>
  </section>
</div>
{% endblock %}
