{% extends "_layouts/standard" %}
{% block content %}

{# Container #}
<div class="simple-container">

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg ">
		Any email has been sent with your password reset link.
	</section>
</div>
{% endblock %}
