{% extends "_layouts/standard" %}

{% block content %}


{# Container #}
<div class="simple-container">

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg ">
		<header class="mb-10 pt-9">
			<h1 class="text-lg text-blue mb-6">Register for a WEAT account</h1>
		</header>

		<p>
			Thank you for registering. You will receive an email confirming your account.
		</p>

	</section>

</div>



{% endblock %}
