.enterModal {
	visibility: hidden;
	opacity: 0;
	
	> div > button { 
		visibility: hidden;
		opacity: 0
	}
}

.modal__shown .enterModal { 
	background: rgba(255,255,255,.5);
	opacity: 1;
	transition: all .4s;
	visibility: visible;
	
	> div > button {
		visibility: visible;
		transition: all .2s;
		opacity: 1;
		
		&:focus {
			outline: none
		}
	}
}