//
// Patterns
//

// Header with Dots Background
.page-header {
	background-image: url("/assets/svg/pattern_page-header-bg.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

// Header with Dots Overlay
.page-header.dots {
	background-image: none;
	@screen md {

		&.pin-l {
			left: -2.25rem;
			top: 1.5rem;
		}
		&.pin-r {
			right: -2.15rem;
			bottom: -2rem;
		}

	}
}

/*
.page-header .bg-dots, .blip{
	background-image: url("/assets/svg/pattern_page-header-bg.svg");
	background-position: right;
	background-size: auto 100%;
	background-repeat: no-repeat;
}*/