<div style="background-color:#ccc; padding:20px;">
	{% if currentUser %}
		<a href="/members/edit">  {{ currentUser.friendlyName }}</a>
		<a href="/members/subscribe">Subscribe</a>
	{% else %}
		<a href="{{ loginUrl }}">Login</a>
	{% endif %}
	{#
	{% set customer = craft.charge.customer %}
	{{ customer.name }}
	{% set subscription = craft.subscription %}
	{{ subscription.status }}
	#}
</div> 
