{% if totalPrice is defined %}
	<div class="lg:max-w-xs max-w-sm lg:ml- m-auto md:float-right w-full">
		<header class="text-center border-b border-grey-lightest text-grey">
		<h4 class="text-md pb-6">Your Order</h4>
		</header>

		<div class="text-base font-medium my-3">
			<p>{{itemLabel|default('Unknown item')}}</p>
		</div>

		<div class="clearfix text-xs text-grey-dark">
			<div class="float-left w-1/2">Qty: {{quantity|default('Unknown')}}</div>
			<div class="float-left w-1/2 text-right">{{totalPrice|currency('USD')}}</div>
		</div>

		{% if subscribtionNotification is defined and subscribtionNotification %}
		<div class="clearfix pt-6">
			<p>
				{{ checkout.subscribeNotificationMessage }}
			</p>
		</div>
		{% endif %}
	</div>
{% endif %}
