{# Sign Up Form #}
<div class="bg-blue-lighter text-blue">
	<div class="max-w-xl m-auto py-8 px-4 sm:pt-10 sm:pb-12 md:flex md:items-center md:justify-between">
		
		<header class="w-full md:w-1/2">
			<h4 class="text-2md mb-4 md:mb-0 sm:text-lg">Get our Updates</h4>
		</header>
		
		<div class="signup w-full md:w-1/2">
			<form action="#" class="flex">
				<input type="email" class="flex-1 rounded-full bg-white text-black mr-1 text-xs py-3 px-4 sm:text-sm sm:py-4 sm:px-6" placeholder="Email Address">
				<a href="#" class="btn text-xs py-3 px-4 sm:text-sm sm:py-4 sm:px-6">Register</a>
			</form>
			
		</div>

	</div>
</div>