{# Resources List #}
<div class="list-accordion list--resources  md:px-0 px-6 m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10">
	
	{# Section Header #}
	{% include '_components/header--section-divider' with {'title': block.sectionTitle} %}

	{% set list = block.listLinkDocContact %}
	{% for block in list %}
		{% switch block.type %}
		
			{% case "linkDownload" %}
				{% include '_components/list--resources__download' %}

			{% case "info" %}
				{% include '_components/list--resources__accordion' %}

			{% case "contact" %}
				{% include '_components/list--resources__contact' %}
		{% endswitch %}
		
	{% endfor %}

</div>

