{# Featured Entries #}
{# Container for Featured Article #}
<div class="featured-articles list--entries m-auto md:w-3/5 w-full pt-12 md:px-0 px-6">

	{# Section Header #}
	{% include '_components/headers' with {
			type: 'section-header--divider', 
			'title': block.sectionTitle
		} 
	%}

	{% for block in block.children %}

		{% switch block.type %}
		
			{% case "articles" %}
				{% for block in block.featuredArticles %}
					
					{% include '_components/list--entries--article' %}					

				{% endfor %}
		
			{% case "events" %}
				{% for block in block.featuredEvents %}

					{% include '_components/list--entries--event' %}

				{% endfor %}
		
		{% endswitch %}
		
	{% endfor %}
	
	
</div>