<ul class="list-reset flex items-center justify-center lg:justify-start">
	<li class="inline-block">
		<a href="#" class="no-underline social-link text-white hover:text-blue-light">
			{{svg.icon('icon --sm sm:--md mr-3', 'facebook')}}
		</a>
	</li>
	<li class="inline-block">
		<a href="#" class="no-underline social-link text-white hover:text-blue-light">
			{{svg.icon('icon --sm sm:--md mr-3', 'twitter')}}
		</a>
	</li>
	<li class="inline-block">
		<a href="#" class="no-underline social-link text-white hover:text-blue-light">
			{{svg.icon('icon --sm sm:--md mr-3', 'linkedin')}}
		</a>
	</li>

	<li class="inline-block"><a href="#"" class="ml-2 uppercase tracking-wide text-white hover:text-blue-light no-underline inline-block font-bold">Visit WEF »</a></li>
</ul>