<ul class="list-reset flex items-center justify-center lg:justify-start">
	{% for item in about.social %}
		{% if item.channel == 'WEF' %}
			<li class="inline-block"><a href="{{item.Url}}" class="ml-2 uppercase tracking-wide text-white hover:text-blue-light no-underline inline-block font-bold">Visit {{item.channel}} »</a></li>
		{% else %}
			<li class="inline-block">
				<a href="{{item.Url}}" class="block no-underline social-link text-white hover:text-blue-light">
					{{svg.icon('icon --sm sm:--md mr-3', item.channel|lower)}}
				</a>
			</li>
		{% endif %}
		
		
	{% endfor %}
	

	
</ul>