{# Main Site Menu #}
<section class="site-header    simple-container">

	<div class="main-menu-bar   md:flex md:justify-between items-center py-4 md:py-6">

		{# Brand #}
		<div class="main-menu__brand    inline-block w-48 md:w-1/4 lg:w-1/3 sm:mr-2">
			<div class="brand-logo text-grey">
				{% include '_components/svg-weat-brand--grad' %}
			</div>
		</div>

		{# Main Menu #}
		<nav class="main-menu  hidden md:block md:flex-1 w-full md:w-auto  ">
			<ul class="menu__list   list-reset md:flex md:pt-0 pt-6">
				
				{# Drop #}
				<li class="menu__drop   md:inline-block md:px-3 md:py-0 py-2">
					<a data-module="toggleDrop" href="/" class="drop__toggle     uppercase font-bold tracking-wide text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block mb-2 md:mb-0">
						About
						{{svg.icon('indicator icon sm inline-flex md:hidden','arrow-right')}}
					</a>

					<ul class="menu__drop-menu   hidden md:block">
						<li><a href="/">About Weat</a></li>
						<li><a href="/">Executive Board</a></li>
						<li><a href="/">Committee Chairs</a></li>
						<li><a href="/">Contact</a></li>
					</ul>
				</li>
				
				{# Link #}
				<li class="menu__link   md:inline-block md:px-3 md:py-0 py-2">
					<a href="/" class="uppercase font-bold tracking-wide text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block mb-2 md:mb-0">Join</a>
				</li>

				{# Link #}
				<li class="menu__link   md:inline-block md:px-3 md:py-0 py-2">
					<a href="/" class="uppercase font-bold tracking-wide text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block mb-2 md:mb-0">Learn</a>
				</li>

				{# Link #}
				<li class="menu__link   md:inline-block md:px-3 md:py-0 py-2">
					<a href="/" class="uppercase font-bold tracking-wide text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block mb-2 md:mb-0">Engage</a>
				</li>

				{# Link #}
				<li class="menu__link   md:inline-block md:px-3 md:py-0 py-2">
					<a href="/" class="uppercase font-bold tracking-wide text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block mb-2 md:mb-0">Advocate</a>
				</li>
			</ul>
		</nav>

		{# Utility Bar #}
		<div class="menu__utility-bar hidden md:block">
			<ul class="utility-menu   list-reset md:py-0 py-4">

				{# Drop #}
				<li class="menu__drop   md:inline-block md:py-0 py-1 md:px-3 mb-2 md:mb-0">
					{% if currentUser %}
						<a data-module="toggleDrop" class="drop__toggle  tracking-normal text-blue hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs " href="/members/edit">
								My Account
								{{svg.icon('indicator icon sm inline-flex md:hidden','arrow-right')}}
						</a>
					{% else %}
						<a data-module="toggleDrop" class="drop__toggle  tracking-normal text-blue hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs " href="/members/login">
								Member Login
								{{svg.icon('indicator icon sm inline-flex md:hidden','arrow-right')}}
						</a>
					{% endif %}

					<ul class="menu__drop-menu --right hidden md:block">
						<li><a href="/">Settings</a></li>
						<li><a href="/">Events</a></li>
						<li><a href="/">Committees</a></li>
						<li><a href="/">Logout</a></li>

						<li class="highlight">
							<a data-module="toggleDrop" class="drop__toggle  tracking-normal text-blue hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs" href="/admin">Admin Panel</a>
						</li>
					</ul>
				</li>
				
				{# Link #}
				<li class="has-icon   md:inline-block md:pt-0 pt-2">
					<a href="/">
						<span class="icon search top-1 relative --sm tr-all ml-1 text-black hover:text-blue-light">
							<svg><use xlink:href="/assets/svg/symbols.svg#zoom"></use></svg>
						</span>
					</a>
				</li>
			
			</ul>

		</div>


	</div>

	{# Toggle #}
	<div class="main-menu__toggle    absolute tr-all-1 cursor-pointer inline-block mt-1 md:hidden" data-module="toggleTarget" data-target="main-menu-bar">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
	</div>

</section>

{# Bo's Stuff #}
{# {% include '_components/bo-s-site-header' %} #}
