{# Block: Hero Slider #}
{% set block = content %}
<div class="slider --hero slider--hero   {{classes}} ">
	<ul class="js-slider list-reset" >
		
		{% for asset in block %}
			
			<li class="js_slide bg-blue-lighter">
	      <figure class="img bg-grey-lightest">
	        {{image.single_simple(asset,'')}}	
	      </figure>
				
				
	      {% if asset.caption %}
	      
		      <figcaption class="px-6 py-8 sm:px-10 content-fades-in tr-all-3">
		      	<a class="hover:text-blue-light no-underline max-w-lg block sm:mt-14 sm:mb-16" href="#">
			      	<h4 class="text-md sm:text-lg">{{asset.caption}}</h4>
			      </a>
		      </figcaption>

	      {% endif %}

	    </li>
		{% endfor %}

	</ul>
</div>
