{% extends "_layouts/standard" %}

{% set charge = craft.charge.getChargeByHash( craft.request.getSegment(3) ) %}

{% block content %}


{% if charge.meta['type'] == 'donation' %}
{# Container #}
<div class="simple-container">

  {# Header #}
  <header class="text-center ml-auto mr-auto text-blue text-md sm:text-lg lg:text-xl mt-18 mb-14 sm:mt-xl sm:mb-18">
    <h2>
      Thank you for you donation!
    </h2>
  </header>

  {# Form #}
  <section class="form-container --narrow m-auto w-full lg:w-2/3 mb-12 sm:mb-lg choices-as-boxes">

    <form action="#" class="py-4">



      {# Field / split #}
      <div class="form-row mb-6 px-4  lg:px-0 flex md:justify-center md:-mx-4 md:border-t-0 border-t border-grey-lightest ">
        <div class="w-full md:w-3/5  md:border-t border-grey-lightest"></div>

        <div class="w-auto  md:w-1/5 md:max-w-tiny   md:border-t border-grey-lightest">
          <span class="block md:pt-0 pt-4 text-left px-4 sm:mb-6 sm:mt-8 mb-6 sm:mb-8 sm:text-md text-base md:text-right md:w-1/2 ">Total:</span>
        </div>

        <div class="w-auto  md:w-1/5 md:max-w-tiny   md:border-t border-grey-lightest">
          <span class="block md:pt-0 pt-4 text-left px-4 sm:mb-6 sm:mt-8 mb-6 sm:mb-8 sm:text-md text-base md:text-right md:w-1/2 ">{{ charge.amountFormatted }}</span>
        </div>

      </div>

    </form>

  </section>

</div>
{% else %}

  {# Container #}
  <div class="simple-container">

    {# Header #}
    <header class="text-center ml-auto mr-auto text-blue text-md sm:text-lg lg:text-xl mt-18 mb-14 sm:mt-xl sm:mb-18">
      <h2>
        Thank you! <br>
        Your order has been received.
      </h2>
    </header>

    {# Form #}
    <section class="form-container --narrow m-auto w-full lg:w-2/3 mb-12 sm:mb-lg choices-as-boxes">

      <form action="#" class="py-4">


        {# Field / split #}
        <div class="form-row mb-4 sm:mb-0 px-4 lg:px-0 md:flex justify-center -mx-4">

          <div class="w-full md:w-3/5 ">
            <label class="field-label md:text-md block w-full pb-4 md:border-b md:pt-0 pt-4 md:border-t-0 border-t border-grey-lightest sm:mb-6 px-4">Item</label>

            <span class="block text-left px-4 sm:mt-6 sm:mt-8 mb-6 sm:mb-8 sm:text-md text-base">{{ charge.description }}</span>
          </div>

          <div class="w-full  md:w-2/5 md:max-w-tiny">
            <label class="field-label md:text-md block w-full pb-4 md:border-b md:pt-0 pt-4 md:border-t-0 border-t border-grey-lightest sm:mb-6 px-4">Amount</label>

            <span class="block text-left px-4 sm:mt-6 sm:mt-8 mb-6 sm:mb-8 sm:text-md text-base md:w-1/2">{{ charge.amountFormatted }}</span>
          </div>


        </div>

      </form>

    </section>

  </div>

{% endif %}
{% endblock %}
