{% extends "_layouts/standard" %}

{% block content %}
  {% set charge = craft.charge.getChargeByHash( craft.request.getSegment(3) ) %}

  {% if charge %}
     Thank you for your payment of {{ charge.amountFormatted }}
  {% endif %}
  <h2>Thanks</h2>

{% endblock %}
