{% extends "_layouts/standard" %}

{% block content %}

<div class="border-t border-grey-lightest">
	
	{# Container #}
	<div class="simple-container">
		
		{# Header #}
		<header class="mb-10 pt-9">
			<h1 class="text-lg text-blue mb-6">Join WEAT</h1>
		</header>

			

		<div class="form-container choices-as-boxes md:flex md:justify-between">
			
				{# Form #}
				<section class="form-container --narrow w-full md:w-3/5 mb-8 mb:mb-lg ">

					{# Join Breadcrumbs #}
					<nav class="step-breadcrumbs --circle-counters mb-8 text-sm md:text-md">
						<ul class="list-reset">
							
							{# Active State: .active #}
							<li class="active    inline-block mr-6 md:mr-8 lg:mr-12 mb-10">
								<span class="name md:ml-16 ml-12 relative">
									Account
								</span>
							</li>
							
							{# Default State: -- #}
							<li class="inline-block mr-6 md:mr-8 lg:mr-12 mb-10">
								<span class="name md:ml-16 ml-12 relative">
									Address
								</span>
							</li>
							
							{# Default State: -- #}
							<li class="inline-block mr-6 md:mr-8 lg:mr-12 mb-10">
								<span class="name md:ml-16 ml-12 relative">
									Billing
								</span>
							</li>

						</ul>
					</nav>
					
					<form action="#" class="mb-xl py-4">
						
						{# Name #}
						<div class="form-row mb-6">
							<label for="fullName" class="field-label block w-full">Name</label>
							<input required name="fullName" id="fullName" type="text" class="input-field block w-full" placeholder="Your Name">
						</div>

						{# Email #}
						<div class="form-row mb-6">
							<label for="email" class="field-label block w-full">Email</label>
							<input required name="email" id="email" type="email" class="input-field block w-full" placeholder="hello@mail.com">
						</div>

						{# Company #}
						<div class="form-row mb-6">
							<label for="company" class="field-label block w-full">Company</label>
							<input type="text" name="company" id="company" class="input-field block w-full" placeholder="lonegunmen">
						</div>

						{# Phone #}
						<div class="form-row mb-6">
							<label for="phone" class="field-label block w-full">Phone</label>
							<input type="tel" name="phone" id="phone" class="input-field block w-full" placeholder="lonegunmen">
						</div>

						{# Continue Button #}
						<div class="form-row mb-6 pt-6 flex items-center">
							 <input class="submit btn" type="submit" value="Continue">
						</div>



					</form>

				</section>

				{# Aside #}
				<aside class="form-aside w-full md:w-2/5 md:mb-0 mb-lg md:pl-8 px-6 md:px-0 ">
					<div class="lg:max-w-xs max-w-sm lg:ml- m-auto md:float-right w-full">

						<header class="text-center border-b border-grey-lightest text-grey">
							<h4 class="text-md pb-6">Your Order</h4>
						</header>

						<div class="text-base font-medium my-3">
							<p>Annual WEAT Membership</p>
						</div>

						<div class="clearfix text-xs text-grey-dark">
							<div class="float-left w-1/2">Qty: 1</div>
							<div class="float-left w-1/2 text-right">$50</div>
						</div>



					</div>
				</aside>

		</div>

	</div>
</div>

{# Form Validation #}
{% set formJs %}
	$("form").validate();
{% endset %}

{% includeJsFile '/assets/static/validate/jquery.validate.min.js' %}
{% includeJs formJs %}



{% endblock %}