{% extends "_layouts/standard" %}

{% block content %}

{# {{about.primaryAddress.lat}}
{% for entry in craft.entries.section('articles') %}
	{{entry.title}}
{% endfor %} #}


{# Page Header #}
<header class="page-header bg-blue">
	<div class="md:max-w-2xl m-auto md:px-6 py-10 px-4">
		{# Landing Page Title: #}
		<h1 class="text-white font-medium md:text-3xl sm:text-xl text-lg">Title of Landing Page</h1>
	</div>
</header>

{# Landing Complex #}
{# Template Note: section.landing simply denotes current layout. All patterns within are not reliant on it. #}
<section class="landing mb-lg">
	
	{# Block: Hero Slider #}
	{# <div class="slider --hero    m-auto max-w-2xl mb-8 -mt-6 px-6 sm:px-0 sm:mb-0 sm:-mt-8">
		
    <ul class="js-slider list-reset" >
      <li class="js_slide bg-blue-lighter">
	      <figure class="img bg-grey-lightest">
	        <img src="/assets/img/placeholder_01.jpg" alt="">
	      </figure>
	      <figcaption class="px-6 py-8 sm:px-10 content-fades-in tr-all-3">
	      	<a class="hover:text-blue-light no-underline max-w-lg block sm:mt-14 sm:mb-16" href="#">
		      	<h4 class="text-md sm:text-lg">Title of Committee News That Is Featured Here and Links to Article</h4>
		      </a>
	      </figcaption>
	    </li>

	    <li class="js_slide bg-blue-lighter">
	      <figure class="img bg-grey-lightest">
	        <img src="/assets/img/placeholder_02.jpg" alt="">
	      </figure>
	      <figcaption class="px-6 py-8 sm:px-10 content-fades-in tr-all-3">
	      	<a class="hover:text-blue-light no-underline max-w-lg block sm:mt-14 sm:mb-16" href="#">
		      	<h4 class="text-md sm:text-lg">Title of Committee News That Is Featured Here and Links to Article</h4>
		      </a>
	      </figcaption>
	    </li>   

	    <li class="js_slide bg-blue-lighter">
	      <figure class="img bg-grey-lightest">
	        <img src="/assets/img/placeholder_03.jpg" alt="">
	      </figure>
	      <figcaption class="px-6 py-8 sm:px-10 content-fades-in tr-all-3">
	      	<a class="hover:text-blue-light no-underline max-w-lg block sm:mt-14 sm:mb-16" href="#">
		      	<h4 class="text-md sm:text-lg">Title of Committee News That Is Featured Here and Links to Article</h4>
		      </a>
	      </figcaption>
	    </li> 
    </ul>

	</div> #}



	{# Block: Rich Text #}
	<div class="article    m-auto md:w-3/5 w-full    md:px-0 px-4    sm:mb-10">
		
		{# Template Note: Landing Page SubTitle (only occurs once!) #}
		<h2 class="md:text-2xl md:pt-10 md:mb-14 mt-12 mb-10 text-center sm:text-lg text-2md text-blue">A secondary Heading Here Only If Needed</h2>

		<p>From 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

		<blockquote>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</blockquote>

		<h4>Agenda:</h4>
		<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

		<ul>
			<li>Interior Heading</li>
			<li>Lead-In Statement</li>
			<li>1 col Article with Embed </li>
			<li>2 col Callout (Text &amp; Image) </li>
			<li>2 col Featured Article Card  </li>
			<li>Blockquote</li>
			<li>Image Gallery/Slider</li>
		</ul>

	</div>
	


	{# Block: Image Slider #}
	<div class="slider    m-auto md:w-3/5 w-full     sm:pt-10 sm:mb-10" data-module="slider">
		
    <ul class="js-slider list-reset" >
      <li class="js_slide">
        <div class="img">
          <img src="/assets/img/placeholder_01.jpg" alt="">
        </div>
      </li>

      <li class="js_slide">
        <div class="img">
          <img src="/assets/img/placeholder_02.jpg" alt="">
        </div>
      </li>   

      <li class="js_slide">
        <div class="img">
          <img src="/assets/img/placeholder_03.jpg" alt="">
        </div>
      </li>   
    </ul>

	</div>



	{# List: Accordion Link/Doc/Info #}
	{# Template note: only include data-module="accordion" 1x per page #}
	<div class="list-accordion  md:px-0 px-6 m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10" data-module="accordion">
		{# Section Header #}
		{% include '_components/header--section-divider' with {'title': 'Link/Doc/Info List'} %}

		{# Accordion Item #}
		<div class="js-accordion-item  active tr-all-3  list-accordion__item    border-b border-grey-lightest pt-8 pb-8">
			
			{# Header #}
			<header class="js-accordion-toggle  text-grey-dark hover:text-blue-light cursor-pointer flex justify-between  item__header items-center">
				<h4 class="text-blue text-1md sm:text-2md tr-all">Committee Name Here</h4>
				
				<div class="relative">
					<span class="icon --add --md ml-1 tr-all-3">
						<svg><use xlink:href="/assets/svg/symbols.svg#add"></use></svg>
					</span>
					<span class="icon --subtract --md ml-1 absolute pin-t tr-all-3">
						<svg><use xlink:href="/assets/svg/symbols.svg#subtract"></use></svg>
					</span>
				</div>
			</header>
			
			{# Content #}
			<div class="item__content  article --info    tr-all-3">
				<div class="sm:flex sm:flex-justify pt-8">
					<div class=" content__col   sm:w-2/3 sm:pr-6 sm:border-r border-grey-lightest">
						<h6>Purpose</h6>
						<p>
							Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page. 
						</p>
						<h6>Members</h6>
						<p>45</p>
						
					</div>
					<div class="content__col sm:w-1/3 sm:pl-8">
						<h6>Committee Chair</h6>
						<p>
							Susan O'Malley, 2016 - 2018 
							<br>
							(512) 972-0083
							<br>
							heather@dodsongroup.org
						</p>
					</div>
				</div>
			</div>
		</div>

		{# Accordion Item #}
		<div class="js-accordion-item   tr-all-3  list-accordion__item    border-b border-grey-lightest pt-8 pb-8">
			
			{# Header #}
			<header class="js-accordion-toggle  text-grey-dark hover:text-blue-light cursor-pointer flex justify-between  item__header items-center">
				<h4 class="text-blue text-1md sm:text-2md tr-all">Committee Name Here</h4>
				
				<div class="relative">
					<span class="icon --add --md ml-1 tr-all-3">
						<svg><use xlink:href="/assets/svg/symbols.svg#add"></use></svg>
					</span>
					<span class="icon --subtract --md ml-1 absolute pin-t tr-all-3">
						<svg><use xlink:href="/assets/svg/symbols.svg#subtract"></use></svg>
					</span>
				</div>
			</header>
			
			{# Content #}
			<div class="item__content  tr-all-3">
				<div class="sm:flex sm:flex-sm:justify pt-8">
					<div class="content__col sm:w-2/3 sm:pr-6 sm:border-r border-grey-lightest">
						<h6 class="uppercase tracking-wide text-blue-light mb-3">Purpose</h6>
						<div class="text-xs mb-6 text-grey-dark leading-normal">
							<p>
								Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page. 
							</p>
						</div>
						
						<h6 class="uppercase tracking-wide text-blue-light mb-3">Members</h6>
						{# Template Note: no mb-6 here #}
						<div class="text-xs text-grey-dark leading-normal">
							<p>45</p>
						</div>
					</div>
					<div class="content__col sm:w-1/3 sm:pl-8">
						<h6 class="uppercase tracking-wide text-blue-light mb-3">Committee Chair</h6>

						<div class="text-xs mb-6 text-grey-dark leading-normal">
							<span class="block">Susan O'Malley, 2016 - 2018</span>
							<span class="block">(512) 972-0083</span>
							<span class="block">heather@dodsongroup.org</span>						
						</div>


					</div>
				</div>
			</div>
		</div>

		{# Doc Item #}
		{# Template note: exclude these => js-accordion-item   tr-all-3 list-accordion__item     #}
		<div class="border-b border-grey-lightest pt-8 pb-8">
			
			{# Header #}
			<header class="item__header">
				<a href="#" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Meeting Notes 02-13-2017
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --attachment --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#attachment"></use></svg>
						</span>
					</div>
				</a>
			</header>
		</div>

		{# Contact Item #}
		<div class="list-contacts__contact border-b border-grey-lightest pt-8 pb-8  sm:flex">
			
			<div class="contact__img sm:w-1/3 sm:border-r border-grey-lightest">
				<div class="img --1by1 max-w-xs m-auto sm:w-full mb-6 px-6 md:px-0 md:pr-8">
					<img src="/assets/img/profile_01.jpg" class="rounded-full">
				</div>
			</div>

			<div class="contact__info   text-center sm:text-left sm:w-2/3 px-6 md:pl-8 mt-8 md:mt-12">
				<h4 class="text-blue text-1md sm:text-2md mb-2 md:mb-4">Firstname Lastname</h4>
				<h6 class="text-blue-light text-base sm:text-md mb-2 md:mb-4">Position Title</h6>
				<div class="text-base text-grey-dark m-auto w-full leading-normal">
					(512) 972-0083
					<br>
					heather@dodsongroup.org
				</div>
			</div>

		</div>
		{# Contact Item #}
		<div class="list-contacts__contact border-b border-grey-lightest pt-8 pb-8  sm:flex">
			
			<div class="contact__img sm:w-1/3 sm:border-r border-grey-lightest">
				<div class="img --1by1 max-w-xs m-auto sm:w-full mb-6 px-6 md:px-0 md:pr-8">
					<img src="/assets/img/profile_01.jpg" class="rounded-full">
				</div>
			</div>

			<div class="contact__info   text-center sm:text-left sm:w-2/3 px-6 md:pl-8 mt-8 md:mt-12">
				<h4 class="text-blue text-1md sm:text-2md mb-2 md:mb-4">Firstname Lastname</h4>
				<h6 class="text-blue-light text-base sm:text-md mb-2 md:mb-4">Position Title</h6>
				<div class="text-base text-grey-dark m-auto w-full leading-normal">
					(512) 972-0083
					<br>
					heather@dodsongroup.org
				</div>
			</div>

		</div>


		{# Link Item #}
		{# Template note: exclude these => js-accordion-item   tr-all-3 list-accordion__item     #}
		<div class="border-b border-grey-lightest pt-8 pb-8">
			
			{# Header #}
			<header class="item__header">
				<a href="#" class="flex justify-between items-center no-underline text-grey-dark hover:text-blue-light">
					<h4 class="text-blue text-1md sm:text-2md tr-all">
						Resource Link
					</h4>
					
					<div class="cursor-pointer relative">
						<span class="icon --link --md ml-1 ">
							<svg><use xlink:href="/assets/svg/symbols.svg#link"></use></svg>
						</span>
					</div>
				</a>
			</header>
		</div>

		

	</div>


	


	{# List: Contacts #}
	<div class="list-contacts  m-auto md:w-3/5 w-full    md:px-0 px-6   sm:pt-10 sm:mb-10">

		{# Section Header #}
		{% include '_components/header--section-divider' with {'title': 'Section Divider'} %}
		
		

		{# Contact #}
		<div class="list-contacts__contact border-b border-grey-lightest pt-6 pb-8 mb-6 sm:flex">
			
			<div class="contact__img sm:w-1/3 sm:border-r border-grey-lightest">
				<div class="img --1by1 max-w-xs m-auto sm:w-full mb-6 px-6 md:px-0 md:pr-8">
					<img src="/assets/img/profile_01.jpg" class="rounded-full">
				</div>
			</div>

			<div class="contact__info   text-center sm:text-left sm:w-2/3 px-6 md:pl-8 mt-8 md:mt-12">
				<h4 class="text-blue text-1md sm:text-2md mb-2 md:mb-4">Firstname Lastname</h4>
				<h6 class="text-blue-light text-base sm:text-md mb-2 md:mb-4">Position Title</h6>
				<div class="text-base text-grey-dark m-auto w-full leading-normal">
					(512) 972-0083
					<br>
					heather@dodsongroup.org
				</div>
			</div>

		</div>

		{# Contact #}
		<div class="list-contacts__contact border-b border-grey-lightest pt-6 pb-8 mb-6 sm:flex">
			
			<div class="contact__img sm:w-1/3 sm:border-r border-grey-lightest">
				<div class="img --1by1 max-w-xs m-auto sm:w-full mb-6 px-6 md:px-0 md:pr-8">
					<img src="/assets/img/profile_01.jpg" class="rounded-full">
				</div>
			</div>

			<div class="contact__info text-center sm:text-left sm:w-2/3 px-6 md:pl-8 mt-8 md:mt-12">
				<h4 class="text-blue text-1md sm:text-2md mb-2 md:mb-4">Firstname Lastname</h4>
				<h6 class="text-blue-light text-base sm:text-md mb-2 md:mb-4">Position Title</h6>
				<div class="text-base text-grey-dark m-auto w-full leading-normal">
					<span class="block">(512) 972-0083</span>
					<span class="block">heather@dodsongroup.org</span>
				</div>
			</div>

		</div>

	</div>
	




	{# Block: Rich Text #}
	<div class="article    m-auto md:w-3/5 w-full    md:px-0 px-6  sm:pt-10 sm:mb-10">
		
		<h3>Don't Forget!</h3>
		<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

		<ul>
			<li>Interior Heading</li>
			<li>Lead-In Statement</li>
			<li>1 col Article with Embed </li>
			<li>2 col Callout (Text &amp; Image) </li>
			<li>2 col Featured Article Card  </li>
			<li>Blockquote</li>
			<li>Image Gallery/Slider</li>
		</ul>

		<a href="#" class="btn">Download Forms</a>

	</div>
	
	


	{# 3 Col Portraits #}
	<div class="portraits-list   m-auto max-w-2xl sm:flex sm:flex-wrap sm:flex-justify    px-4  mb-xl     sm:pt-10 sm:mb-10 "> 
		<div class="portrait__group   w-full block text-center max-w-xs m-auto mb-18 md:w-1/3 md:w-1/3 md:mb-0 sm:px-2">

			<div class="img --1by1 mb-6 w-4/5 m-auto">
				<img src="/assets/img/profile_01.jpg" class="rounded-full">
			</div>
			<h4 class="text-blue text-2md mb-3">Firstname Lastname</h4>
				<div class="text-base text-grey-dark m-auto w-full leading-normal">
					<span class="mb-3">(512) 972-0083</span>
					<span class="mb-3">heather@dodsongroup.org</span>
				</div>
		</div>

		<div class="portrait__group   w-full block text-center max-w-xs m-auto mb-18 md:w-1/3 md:w-1/3 md:mb-0 sm:px-2">

			<div class="img --1by1 mb-6 w-4/5 m-auto">
				<img src="/assets/img/profile_01.jpg" class="rounded-full">
			</div>
			<h4 class="text-blue text-2md mb-3">Firstname Lastname</h4>
				<div class="text-base text-grey-dark m-auto w-full leading-normal">
					<span class="mb-3">(512) 972-0083</span>
					<span class="mb-3">heather@dodsongroup.org</span>
				</div>
		</div>

		<div class="portrait__group   w-full block text-center max-w-xs m-auto mb-18 md:w-1/3 md:w-1/3 md:mb-0 sm:px-2">
			<div class="img --1by1 mb-6 w-4/5 m-auto">
				<img src="/assets/img/profile_01.jpg" class="rounded-full">
			</div>
			<h4 class="text-blue text-2md mb-3">Firstname Lastname</h4>
				<div class="text-base text-grey-dark m-auto w-full leading-normal">
					<span class="mb-3">(512) 972-0083</span>
					<span class="mb-3">heather@dodsongroup.org</span>
				</div>
		</div>
	</div>




	{# Call to Action #}
	<div class="cta-banner sm:pt-10 ">
		<div class="m-auto max-w-2xl     px-4   py-10 sm:py-12    bg-blue-dark text-white text-center"> 

			<header class="text-lg sm:text-xl mb-6">
				<h4>Call to Action</h4>
			</header>

			<div class="content text-md text-blue-light max-w-lg m-auto mb-12 leading-normal">
				<p>Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>
			</div>

			<a href="#" class="btn m-auto block max-w-1xs">Primary Prompt</a>
			
			</div>
		</div>
	</div>



	{# 2 Col Feature Card #}
	<div class="feature-cards border-list     m-auto max-w-2xl   sm:pt-10 sm:mb-10"> 
		<div class="md:flex md:flex-wrap md:flex-justify px-4  pt-10 sm:pt-16 border-t border-b border-grey-lightest">

			<div class="feature__card border-b mb-lg pb-10 md:mb-lg border__item    w-full block text-center  md:w-1/2 md:mb-0 md:border-r md:border-b-0 border-grey-lightest">
				<h4 class="text-blue text-2md mb-6 sm:text-lg md:w-4/5 m-auto">Heading For Section That Links to Another</h4>
					<div class="text-base text-grey-dark md:w-4/5 m-auto w-full leading-normal mb-10 sm:mb-18 sm:text-md">
						<p>Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>
					</div>

					<a href="#" class="btn --text">
						Text Link
						<span class="icon --sm ml-1">
							<svg><use xlink:href="/assets/svg/symbols.svg#arrow-right"></use></svg>
						</span>
					</a>
			</div>

			<div class="feature__card mb-lg  md:mb-lg border__item    w-full block text-center mb-10 md:w-1/2 md:mb-0 md:border-r md:border-grey-lightest">
				<h4 class="text-blue text-2md mb-6 sm:text-lg md:w-4/5 m-auto">Heading For Section That Links to Another</h4>

				<div class="text-base text-grey-dark md:w-4/5 m-auto w-full leading-normal mb-10 sm:mb-18 sm:text-md">
					<p>Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>
				</div>
				<a href="#" class="btn">Download Forms</a>

					
			</div>
		</div>
	</div>




	{# Feature List #}
	<div class="features-list   m-auto container flex flex-wrap flex-justify px-4 pt-12 mb-18 md:mb-xl md:pt-12 sm:pb-8"> 

		<div class="feature__group   w-full block text-center max-w-xs m-auto mb-10 md:w-1/3 md:w-1/3 md:mb-0 sm:px-2">
			<div class="m-auto mb-6 w-2/3">
				<div class="img is1by1 relative">
					<img src="/assets/img/placeholder_04.jpg" class="rounded-full absolute pin-t pin-l w-full h-full" alt="">
				</div>
			</div>	
			<h4 class="text-blue text-2md mb-6 sm:mb-3">Advocate</h4>
			<p class="text-xs text-grey-dark m-auto w-full leading-normal">Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>
		</div>

		<div class="feature__group   w-full block text-center max-w-xs m-auto mb-10 md:w-1/3 md:w-1/3 md:mb-0 sm:px-2">
			<div class="m-auto mb-6 w-2/3">
				<div class="img is1by1 relative">
					<img src="/assets/img/placeholder_04.jpg" class="rounded-full absolute pin-t pin-l w-full h-full" alt="">
				</div>
			</div>	
			<h4 class="text-blue text-2md mb-6 sm:mb-3">Educate</h4>
			<p class="text-xs text-grey-dark m-auto w-full leading-normal">Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>
		</div>

		{# Templating Note: w-full on last child #}
		<div class="feature__group   w-full block text-center max-w-xs m-auto mb-10 md:w-1/3 md:w-1/3 md:mb-0 sm:px-2">
			<div class="m-auto mb-6 w-2/3">
				<div class="img is1by1 relative">
					<img src="/assets/img/placeholder_04.jpg" class="rounded-full absolute pin-t pin-l w-full h-full" alt="">
				</div>
			</div>	
			<h4 class="text-blue text-2md mb-6 sm:mb-3">Educate</h4>
			<p class="text-xs text-grey-dark m-auto w-full leading-normal">Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>
		</div>
	</div>

	<div class="feature-card-w-img sm:flex">
		<article class="h-full bg-blue-dark text-blue-light px-6 pt-12 pb-16 sm:px-8 md:pt-16 md:pb-20 w-full md:w-1/2 ">
			<div class="mr-auto ml-auto md:w-5/6 w-full">
				<header class="mb-14">
					<h6 class="uppercase text-1xs mb-10 tracking-wide">Featured Event</h6>
					<h3 class="text-white text-lg md:text-xl">Don’t miss out on Texas Water! April 23–28,2018</h3>
				</header>

				<div class="content text-base md:text-md leading-normal mb-12">
					<p>Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>
				</div>

				<a href="#" class="btn">Learn More</a>
			</div>
		</article>

		<div class="w-full md:w-1/2 md:bg-grey-lightest sm:mt-12 md:mt-lg">
			<img src="/assets/img/placeholder_04.jpg" class="block sm:pr-8 md:pr-10 w-full">
		</div>
	</div>


	


	{# Stat List #}
	<div class="stat-list border-list   m-auto max-w-2xl flex flex-wrap flex-justify px-4 md:mt-12 py-10">

		<div class="stat__group border__item   w-1/2  block text-center border-grey-lightest sm:border-r max-w-xs m-auto mb-10 md:w-1/3 md:mb-0">
			<span class="text-2xl sm:text-4xl block text-blue .mb-6">34</span>
			<span class="text-2md text-blue-light">Committees</span>
		</div>

		<div class="stat__group border__item   w-1/2  block text-center border-grey-lightest md:border-r max-w-xs m-auto mb-10 md:w-1/3 md:mb-0">
			<span class="text-2xl sm:text-4xl block text-blue .mb-6">34</span>
			<span class="text-2md text-blue-light">Committees</span>
		</div>
	
		{# Templating Note: w-full on last child #}
		<div class="stat__group border__item   w-full block text-center border-grey-lightest sm:border-r max-w-xs m-auto mb-10 md:w-1/3 md:mb-0">
			<span class="text-2xl sm:text-4xl block text-blue .mb-6">34</span>
			<span class="text-2md text-blue-light">Committees</span>
		</div>
	</div>




	{# Block: Rich Text #}
	<div class="article    m-auto md:w-3/5 w-full    md:px-0 px-6  sm:pt-10 sm:mb-10">
		
		<h3>Don't Forget!</h3>
		<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

		<ul>
			<li>Interior Heading</li>
			<li>Lead-In Statement</li>
			<li>1 col Article with Embed </li>
			<li>2 col Callout (Text &amp; Image) </li>
			<li>2 col Featured Article Card  </li>
			<li>Blockquote</li>
			<li>Image Gallery/Slider</li>
		</ul>

		<a href="#" class="btn">Download Forms</a>

	</div>


	
	{# Container for Featured Article #}
	<div class="m-auto md:w-3/5 w-full pt-12 md:px-0 px-6">

		{# Section Header #}
		{% include '_components/header--section-divider' with {'title': 'Featured Articles'} %}
		
		{# Featured Article #}
		<article class="featured-article border-b border-grey-lightest  py-6 mb-6  ">
			<a class="no-underline hover:text-grey-dark" href="#">
				<time class="text-grey-dark text-xs mb-3 block">April 09, 2018</time> 
				<h4 class="text-2md sm:text-lg mb-6">List of Community Colleges with Environmental Science or Engineering Programs</h4>
			</a>

			<div class="featured-article__content mb-4">
				<p class="text-xs text-grey-dark md:w-4/5 w-full leading-normal">Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page.</p>
			</div>

			<a href="#" class="block text-right text-blue-light hover:text-grey-dark no-underline text-sm">TCEQ’s Rule Log</a>
		</article>

		<article class="featured-article border-b border-grey-lightest  py-6 mb-6  ">
			<a class="no-underline hover:text-grey-dark" href="#">
				<time class="text-grey-dark text-xs mb-3 block">April 09, 2018</time> 
				<h4 class="text-2md sm:text-lg mb-6">List of Community Colleges with Environmental Science or Engineering Programs</h4>
			</a>

			<div class="featured-article__content mb-4">
				<p class="text-xs text-grey-dark md:w-4/5 w-full leading-normal">Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page.</p>
			</div>

			<a href="#" class="block text-right text-blue-light hover:text-grey-dark no-underline text-sm">TCEQ’s Rule Log</a>
		</article>
	</div>
	

</section>

{% endblock %}
