{% extends "_emails/templateblock" %}

{% block content %}

<p>Dear {{fullName}}</p>
We’d like to take this opportunity to thank you for choosing to be a WEAT member over the past year. I hope you were able to take advantage of the member discounts at the many knowledge sharing opportunities through conferences and webinars; learn from information on the latest trends in technology and best in class projects around the state featured in Texas WET; benefit from WEAT advocacy efforts at the Texas Legislature, TCEQ, and EPA; and enjoy professional growth and networking space with your WEAT colleagues and WEAT community at Texas Water!</p>

<p>It is that time of the year again that we ask that you consider the value and benefit of a WEAT membership and renew as your membership expires on {{expirationDate}}. An annual WEAT membership remains only $50, which allows for discounts to conferences, free WEAT webinars, section membership, and a $200 savings on Texas Water registration. Your WEAT team has worked diligently to develop a new website and database that provides for a much easier renewal process and an annual auto-renewal function! Please go to <a href="http://www.weat.org">www.weat.org</a> and login to renew your membership today.</p>

{% endblock %}
