{% extends "_layouts/standard" %}
{% requireLogin %}

{% block content %}

{# Breadcrumbs #}
{# {% include '_components/fed/nav--breadcrumbs'  %} #}
<nav class="site-breadcrumbs border-t border-b border-grey-lightest py-4 lg:py-6">
	<div class="simple-container text-xs">
		<ul class="list-reset">

			<li class="inline-block pr-4"><a href="/" class="no-underline pr-4 text-grey-dark hover:text-black">Home</a></li>
			<li class="inline-block pr-4"><a href="/jobs" class="no-underline pr-4 text-grey-dark hover:text-black">Jobs</a></li>
			<li class="inline-block pr-4"><a href="/jobs/post" class="no-underline pr-4 text-grey-dark hover:text-black">Post a Job</a></li>
		</ul>
	</div>
</nav>



{# Container #}
<div class="simple-container">


	<section class="mt-10 sm:mt-16 --narrow m-auto md:w-3/5 mb-12 sm:mb-lg ">


			<header class="mb-10 pt-9 h-48">
				<h1 class="text-lg text-blue mb-6">Nice Work!</h1>
	        <p>
						Thanks for submitting a job posting.
					</p>
			</header>


	</section>

</div>

{# Form Validation #}
{% set formJs %}
	$("form").validate();
{% endset %}

{% includeJsFile '/assets/static/validate/jquery.validate.min.js' %}
{% includeJs formJs %}



{% endblock %}
